<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zpf.mapper.ClassHeadMapper">
    <resultMap id="BaseResultMap" type="com.zpf.dto.ClassHead">
        <id column="class_head_id" property="classHeadId" jdbcType="DECIMAL" />
        <result column="class_head_name" property="classHeadName" jdbcType="VARCHAR" />
        <result column="creation_date" property="creationDate" jdbcType="DATE" />
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE" />
        <result column="create_by" property="createBy" jdbcType="DECIMAL" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="tag_id" property="tagId" jdbcType="DECIMAL" />
    </resultMap>

    <insert id="addClass" parameterType="com.zpf.dto.ClassHead" useGeneratedKeys="true" keyProperty="classHeadId">
        INSERT INTO class_head (class_head_name,description,create_by,creation_date,last_update_date)
        VALUES (#{classHeadName},#{description},#{createBy},now(),now())
    </insert>

    <select id="queryHead" resultMap="BaseResultMap" parameterType="com.zpf.dto.ClassHead">
        SELECT *
        FROM class_head
        <where>
            <if test="classHeadId != null"> class_head_id = #{classHeadId}</if>
            <if test="classHeadName != null">AND class_head_name = #{classHeadName}</if>
        </where>
    </select>

    <update id="updateHead">
        UPDATE class_head
        <set>
            last_update_date = now(),
            <if test="classHeadName != null">class_head_name = #{classHeadName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="tagId != null">AND tag_id = #{tagId}</if>
        </set>
        <where>
            <if test="classHeadId != null"> class_head_id = #{classHeadId}</if>
        </where>
    </update>
</mapper>